{% extends "base.jinja" %}
{% block content %}


<nav>
    <ul class="menu">
        <li><a href="{{ url_for('wines.wines') }}"> Back to wines</a></li><br>
        <li><a href="{{ url_for('producers.new_producer') }}"> Add New Producer</a></li>
    </ul>
</nav>

<form action="/wines/{{wine.id}}" method="POST">

    <div>
        <label for="name"> Wine:</label>
        <input type="text" id="text" name="name" value="{{wine.name}}" required autofocus>
    </div>
    <br>
    <div>
        <label for="description"> Description:</label>
        <input type="text" id="text" name="description" value="{{wine.description}}">
    </div>
    <br>
    <div>
        <label for="stock-quantity"> Stock Quantity:</label>
        <input type="number" id="number" name="stock_quantity" value="{{wine.stock_quantity}}">
    </div>
    <br>
    <div>
        <label for="buying-cost"> Buying Cost:</label>
        <input type="text" id="text" name="buying_cost" value="{{wine.buying_cost}}">
    </div>
    <br>
    <div>
        <label for="selling-price"> Selling Price:</label>
        <input type="text" id="text" name="selling_price" value="{{wine.selling_price}}">
    </div>
    <br>


    <div>
        <label for="producer"> Producer:</label>
        <select name="producer" id="producer">
            {% for producer in producers %}
            <option value="{{ producer.id}}"> {{ producer.name}}</option>
            {%endfor%}
        </select>
        <button type="submit">Update</button>
    </div>



    {# <div>
        <label for="producer_id"> Producer:</label>
        <select name="producer_id" id="producer_id">
            {% for producer in all_producers %}
            <option value="{{ producer.name}}">
            {% if wine.producer.id == wine.id %} selected="selected"{% endif %}>
            {{ producer.name}}
            {%endfor%}
        </select>
        <button type="submit">Update</button> #}

{# {% endfor %} #}

{% endblock %}