
{# MAIN PAGE #}


{% extends "base.jinja" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="page-container"></div>
<nav>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Back</a></li>
        <li><a href ="{{ url_for('wines.new_wine') }}"> Add New </a></li>
    </ul>
</nav>

<body>
    
        <h2> Inventory (WINE): </h2>
    <div>
        {%for wine in all_wines%}
        <li><a href="/wines/{{wine.id}}"><b><span style="font-size:16px">{{wine.name}}: </b></span></a><br>
        <hr>
        <i>Selling Price</i>: {{ wine.selling_price}} <br>
        <hr>
        <i>Buying cost</i>: {{ wine.buying_cost}},<i> <b>Markup(%)</b></i>: {{ wine.get_markup()}}<br>
        <hr>
        <i> Description</i>: {{ wine.description}} <br>
        <hr>
        <span style="font-size: 14.5px"><i>STOCK COUNT</i></span>: <b>{{ wine.stock_quantity}}</b>

        {% if wine.stock_quantity <= 0 %} <span class="flash out-of-stock"> <b>OUT OF STOCK! </b></span> <br>

            {% elif wine.stock_quantity > 6 %}
            <br><br>

            {% elif wine.stock_quantity <= 6 %} <span style="color:#c7a035; font-size: 17px"> <b>LOW STOCK </b></span>
                <br><br>

                {%endif%}
                {%endfor%}


    </div>
    {% endblock %}
</body>