{% extends "base.jinja" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="page-container"></div>
<nav>
    <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('wines.wines') }}"> Wine</a></li>
        <li><a href="{{ url_for('producers.new_producer') }}"> Add New Producer</a></li>
    </ul>
</nav>
<form action="/wines" method="POST">

    <div>
        <label for="name"> Wine:</label>
        <input type="text" id="text" name="name" placeholder="wine" required autofocus>
    </div>
    <br>
    <div>
        <label for="description"> Description:</label>
        <input type="text" id="text" name="description" placeholder="description">
    </div>
    <br>
    <div>
        <label for="stock-quantity"> Stock Quantity:</label>
        <input type="number" id="number" name="stock_quantity" placeholder="stock-quantity">
    </div>
    <br>
    <div>
        <label for="buying-cost"> Buying Cost:</label>
        <input type="text" id="text" name="buying_cost" placeholder="buying-cost">
    </div>
    <br>
    <div>
        <label for="selling-price"> Selling Price:</label>
        <input type="text" id="text" name="selling_price" placeholder="selling-price">
    </div>
    <br>
    <div>
        <label for="producer"> Producer:</label>
        <select name="producer" id="producer">
            {% for producer in all_producers %}
            <option value="{{ producer.id}}"> {{ producer.name}}</option>
            {%endfor%}
        </select>
        <button type="submit">Add</button>
    </div>


    </div>
</form>

{%endblock%}