


{% extends "base.jinja" %}
{% block content %}


<nav>
    <ul class="menu">
        <li><a href="{{ url_for('wines.wines') }}">Back to wines</a></li>
    </ul>
</nav>
<h2>{{wines.name}}</h2>


<li><a href="/wines/{{wines.name}}"><b><span style="font-size:16px">{{wines.name}}: </b></span></a><br>
        <hr>
    <i>Selling Price</i>: {{ wines.selling_price}} <br>
        <hr>
    <i>Buying cost</i>: {{ wines.buying_cost}},<i> <b>Markup(%)</b></i>: {{ wines.get_markup()}}<br>
        <hr>
    <i> Description</i>: {{ wines.description}} <br>
        <hr>

    <span style="font-size: 14.5px"><i>STOCK COUNT</i></span>: <b>{{ wines.stock_quantity}}</b>

    {% if wines.stock_quantity <= 0 %} <span class="flash out-of-stock"> <b>OUT OF STOCK! </b></span> <br>

        {% elif wines.stock_quantity > 6 %}
        <br><br>

        {% elif wines.stock_quantity <= 6 %} <span style="color:#c7a035; font-size: 17px"> <b>LOW STOCK </b></span>
            <br><br>

            {%endif%}
            


{%endblock%}