
{% extends "base.jinja" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>


<div class = "page-container">
        <h3> Inventory (WINE): </h3>

        {%for wine in all_wines%}   
        <b>{{wine.name}} </b> <br>
        <i> Description:</i> {{wine.description}} <br>
        (STOCK COUNT): <b>{{wine.stock_quantity}}</b> <br>

        {% if wine.stock_quantity <= 0 %}
        <span class="flash out-of-stock"> <b>OUT OF STOCK! </b></span> <br><br>

        {% elif wine.stock_quantity > 6 %}
        <br>
    
        {% elif wine.stock_quantity  <= 6 %}
        <span style="color:#c7a035; font-size: 17px"> <b>LOW STOCK </b></span> <br><br>

    {%endif%}
    {%endfor%}

</div>
{% endblock %}
</body>
