{% extends "base.jinja" %}
{% block content %}



<nav>
    <ul class="menu">
        <li><a href="{{ url_for('wines.wines') }}"> Back to wines</a></li><br>
        {# <li><a href="/producer/{{producer.id}}/edit"> Add New Producer</a></li> #}
        

    </ul>
</nav>

    <form action="/producers/{{producer.id}}/update" method="POST">

    <div>
        <label for="name"> Producer: </label>
        <input type="text" id="text" name="name" value="{{producer.name}}" required autofocus>
    </div>
    <br>


    <div>
        <label for="producer_id"> Producer:</label>
        <input type="hidden" name="producer_id" value="{{ producer.id }}">
            {% for producer in all_producers %}
            <option value="{{ producer.id}}"> {{ producer.name}}</option>
            {%endfor%}
        </select>
        <button type="submit">Update</button>
    </div>




{%endblock%}