{% extends "base.jinja" %}
{% block content %}



<nav>
    <ul class="menu">
        <li><a href="{{ url_for('wines.wines') }}"> Back to wines</a></li><br>
        {# <li><a href="/producer/{{producer.id}}/edit"> Add New Producer</a></li> #}
        

    </ul>
</nav>

    <form action="/producers/{{producer.id}}" method="POST">

    <div>
        <label for="name"> Producer: </label>
        <input type="text" id="text" name="name" value="{{producer.name}}" required autofocus>
    </div>
    <br>


    <div>
        
        <button type="submit">Update</button>
    </div>




{%endblock%}